<%= stylesheet_link_tag "list" %>
<%= javascript_include_tag "jquery_init" %>
<%= javascript_include_tag "questions.js" %>
<ul>
  <h1>Quora</h1>
  <li><%=link_to 'Home',questions_path, class: "fa fa-home" %></li>
  <li><%=link_to  'add question',new_question_path, class: "fa fa-plus"%></li>
  <li><%=link_to  'add topic',new_topic_path,class: "fa fa-plus-circle" %></li>
  <li><%=link_to 'user', welcomes_index_path,class: "fa fa-user-plus"%>
  <li><%= link_to 'join topic',topics_path,class: "fa fa-check-circle"%></li>
  <li><%= link_to "Sign out", destroy_user_session_path,class: "fa fa-sign-out",:method => :delete %></li>
</ul>
<%= stylesheet_link_tag "style" %>
<div class="login-box">
<%= form_for @question,:html => {:id => "reg"} do |form| %>
	<center><h1><b>edit Question detail<b></h1></center>
		<% if @question.errors.any? %>
			<div id="error_explanation">
				<h2 align="left">
					<%= pluralize(@question.errors.count,"error") %>prohibited from being saved
				</h2>
				<p align="left">
        		<% @question.errors.full_messages.each do |msg| %>
          		<li><%= msg %></li>
        <% end %>
      </p>
    </div>
  <% end %>
	<table align="center">
		<tr>
			<td colspan="3"><%= form.text_field :data, id:"data", placeholder: "start your question with 'What','How','Why',etc."%></td>
      <td id="error"></td>
		</tr>
		<tr>
			<td colspan="3"><%= form.text_field :question_link, id:"question_link",placeholder: "Optional:include a link that gives context" %></td>
  	</tr>
		<%= form.hidden_field :user_id, :value => current_user.id %>
		<tr>
			<td colspan=3><%= form.submit "save"%></td>
		</tr>
		<tr>
			<td><%= link_to 'back', questions_path %></td>
			
			
		</tr>
	</table>
</div>
<% end %>
