<%= stylesheet_link_tag "list" %>
<%= stylesheet_link_tag "question" %>
<%= javascript_include_tag "jquery_init" %>
<html>
    <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
     <ul>
        <h1>Quora</h1>
        <li><%=link_to 'Home',questions_path, class: "fa fa-home" %></li>
        <li><%=link_to  'add question',new_question_path, class: "fa fa-plus"%></li>
        <li><%=link_to  'add topic',new_topic_path,class: "fa fa-plus-circle" %></li>
        <li><%=link_to 'user', welcomes_index_path,class: "fa fa-user-plus"%>
        <li><%= link_to 'join topic',topics_path,class: "fa fa-check-circle"%></li>
        <li><%= link_to "Sign out", destroy_user_session_path,class: "fa fa-sign-out",:method => :delete %></li>
     </ul>
    <table align = "center">
    <br>
    <br>
    <h1 align="left">All question detail</h1>
    <tr>

    <% @questions.each do |question| %>

    <p align="center">added by <%=question.topic.topic_name %></p>
    <p align="center">Question by <%= question.author_name %></p>
    <h2 align="center"><a href="<%= question_path(question)%>"><%= question.data %></a>
    </h2>
    <p align="center"><b>link:</b><%= question.question_link %></p>
    <p align="center"><b>time:</b><%= question.created_at.in_time_zone("CET") %></p>


      <div id="follow">
       <p align="center"><%= link_to 'follow',new_follow_path(:question_id => question),remote: true  %><%= question.follows.count %></p>
      </div>

    <p align="center"><%= link_to 'Answer', question_path(question) %><%=question.answers.count %></p>
    </tr>

    </table>

    <% end %>
    </body>
</html>