<%= javascript_include_tag "jquery_init" %>
<%= stylesheet_link_tag "design" %>
<%= stylesheet_link_tag "view" %>
<html>
<div class="webContainer" >
  <body>
    <table align = "center">
      <br>
      <br>
      <h1 align="center"><u>Question Detail</u></h1>
      <tr>
      <% @questions.each do |question| %>
      <p align="center">added by <%=question.topic.topic_name %></p>
      <p align="center">Question by <%= question.author_name %></p>
      <h2 align="center"><a href="<%= question_path(question)%>"><%= question.data %></a>
      </h2>
      <p align="center"><b>link:</b><%= question.question_link %></p>
      <p align="center">post on <%= question.created_at.day %> <%= question.created_at.strftime("%B") %> <%= question.created_at.year %> </td>
        <p align="center">
          <% if user_signed_in?  %>      
            <%  if !question.follows.where(:user_id =>current_user.id).present? %>
              <%= link_to 'follow',follow_question_path(question),class: "fa fa-rss"  %> <%= question.follows.count%>
            <%else%>
              <%= link_to 'unfollow',follow_question_path(question),class: "fa fa-rss active" %><%= question.follows.count %>
            <%end%>
            &nbsp; &nbsp;&nbsp;&nbsp;
            <%  if !question.bookmark_questions.where(:user_id =>current_user.id).present? %>
              <%= link_to 'bookmark' ,bookmark_question_path(question),class: "fa fa-bookmark"  %> 
            <%else%>
              <%= link_to 'bookmark',bookmark_question_path(question),class: "fa fa-bookmark active"  %>
            <%end%>
          <%end%>
        </p>    
      <p align="center"><%= link_to 'Answer', question_path(question) %><%=question.answers.count %></p>
    </table>
    <% end %>
    </body>
  </div>
</html>