<%= javascript_include_tag "jquery_init" %>
<%= javascript_include_tag "questions.js" %>
<%= stylesheet_link_tag "design" %>
<%= stylesheet_link_tag "style" %>
<div class="login-box">
<%= form_for @question,:html => {:id => "reg"} do |form| %>
	<center><h1><b>Add Question detail<b></h1></center>
		<% if @question.errors.any? %>
			<div id="error_explanation">
				<h2>
					<%= pluralize(@question.errors.count,"error") %>prohibited from being saved
				</h2>
				<p>
        		<% @question.errors.full_messages.each do |msg| %>
          		<li><%= msg %></li>
            <% end %>
      </p>
    </div>
      <% end %>
			
	<table align="center">

		<tr>
			<td><%=current_user.name %> asked </td>
			<td><%= form.select :author_name,options_for_select([['public', 'public'], ['anonymous', '2']], 'public') %>
			</td>
		</tr>
		<tr>
			<td><%= form.label :"related topic" %></td>
			<td colspan="2">			
			<%= form.select :topic_id,options_from_collection_for_select(Topic.all, :id, :topic_name) %>
			</td>
		</tr>
		<tr>
			<td colspan="3"><%= form.text_field :data, id:"data", placeholder: "start your question with 'What','How','Why',etc."%></td>
      <td id="error"></td>
		</tr>
		<tr>
			<td colspan="3"><%= form.text_field :question_link, id:"question_link",placeholder: "Optional:include a link that gives context" %></td>
		</tr>
		<%= form.hidden_field :user_id, :value => current_user.id %>
		<tr>
			<td colspan="3"><i class: "fa fa-arrow-circle-down"><%= form.submit "save" , class: "fa fa-arrow-circle-down" %></i></td>
		</tr>
		<tr>
			<td colspan="3"><%= link_to 'back', questions_path %></td>
			
		</tr>
	</table>
</div>
</div>
<% end %>
