<%= stylesheet_link_tag "view" %>
<div class="view">
<table align = "center">
  <br>
  <br>
  <h1 align="center">All question detail</h1>
  <tr><%= link_to "back", :back ,class: "fa fa-arrow-circle-left"  %></tr>
  <tr>
    <% @questions.each do |question| %>
      <p align="center">added by <%=question.topic.topic_name %></p>
      <p align="center">Question by <%= question.author_name %></p>
      <h2 align="center"><a href="<%= question_path(question)%>"><%= question.data %></a></h2>
      <p align="center"><b>link:</b><%= question.question_link %></p>
      <p align="center">post on <%= question.created_at.day %> <%= question.created_at.strftime("%B") %> <%= question.created_at.year %> </p>
      <p>
        <% if current_user.questions.where(:id=>@question).present? || current_user.admin? %>
          <%= link_to 'edit',edit_question_url(@question), class: "fa fa-pencil" %>
        <%end%>
      </p>
      <p>
        <% if current_user.questions.where(:id=>@question).present? || current_user.admin? %>
          <%= link_to 'Destroy', question_path(@question), class: "fa fa-trash",
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
        <%end%>
      </p>
      <p align="center"><%= question.follows.count %>follow<i class: "fa fa-wifi"></p>
      <p align="center"><%= link_to 'Answer', question_path(question), class:"fa fa-edit" %><%=question.answers.count %></p>
      <% end %>
  </tr>
</table>
</div>

