<%= stylesheet_link_tag "list" %>
<%= stylesheet_link_tag "view" %>
<ul>
  <h1>Quora</h1>
  <li><%=link_to 'Home',questions_path, class: "fa fa-home" %></li>
  <li><%=link_to  'add question',new_question_path, class: "fa fa-plus"%></li>
  <li><%=link_to  'add topic',new_topic_path,class: "fa fa-plus-circle" %></li>
  <li><%=link_to 'user', welcomes_index_path,class: "fa fa-user-plus"%>
  <li><%= link_to 'join topic',topics_path,class: "fa fa-check-circle"%></li>
  <li><%= link_to "Sign out", destroy_user_session_path,class: "fa fa-sign-out",:method => :delete %></li>
</ul>
<div class="view">
<table align = "center">
  <br>
  <br>
  <h1 align="center">All question detail</h1>
  <tr><%= link_to "back", :back ,class:"fa fa-arrow-circle-left" %></tr>
  <tr>
    <% @questions.each do |question| %>
      <p align="center">added by <%=question.topic.topic_name %></p>
      <p align="center">Question by <%= question.author_name %></p>
      <h2 align="center"><a href="<%= question_path(question)%>"><%= question.data %></a></h2>
      <p align="center"><b>link:</b><%= question.question_link %></p>
      <p align="center">post on <%= question.created_at.day %> <%= question.created_at.strftime("%B") %> <%= question.created_at.year %> </td>
      <p align="center"><%= question.follows.count %>follow<i class: "fa fa-wifi"></p>
      <p align="center"><%= link_to 'Answer', question_path(question), class:"fa fa-edit" %><%=question.answers.count %></p>
    <% end %>
  </tr>
</table>
</div>

