<table align="right">
	<tr>
		<td>Position</td>
		<td></td>
		<td><%= current_user.employment.position %></td>
	</tr>
	<tr>
		<td>Company</td>
		<td></td>
		<td><%= current_user.employment.company %></td>
	</tr>
	<tr>
		<td>start year</td>
		<td></td>
		<td><%= current_user.employment.start_year %></td>
	</tr>
	<tr>
		<td>End year</td>
		<td></td>
		<td><%= current_user.employment.end_year %></td>
	</tr>
	<tr>
	<td>
	 <div id="edit-employ">
	 	 <%= link_to 'edit',edit_employment_path(current_user.employment.id),remote: true %>
	 </div>
	</td>
	<td><%= link_to 'Delete', employment_path(current_user.employment.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
	</tr>
</table>
</body>
</html>