<h1>Employement detail</h1>
<p>
	<strong>Position:</strong>
	<%= @employment.position %>
</p>
<p>
	<strong>Company/Organization</strong>
	<%= @employment.company %>
</p>
<p>
	<strong>start year</strong>
	<%= @employment.start_year %>
</p>
<p>
	<strong>end year</strong>
	<%= @employment.end_year %>
</p>
<p>
	
	<td><%= link_to 'edit',edit_employment_path(@employment) %></td>
	<td><%= link_to 'Delete', employment_path(@employment),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
</p>
