
<%= javascript_include_tag "jquery_init" %>
<%= javascript_include_tag 'education.js' %>
<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "list" %>

    <ul>
    	<h1>Quora</h1>
    	<li><%=link_to 'Home',questions_path %></li>
    	<li><%=link_to  'add question',new_question_path %></li>
    	<li><%=link_to  'add topic',new_topic_path %></li>
    	<li><%=link_to 'user',welcomes_index_path %>
    	<li><%= link_to 'join topic',topics_path %></li>
    	<li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>

  	</ul>

<div class="login-box">
<%= form_for @education,:html => {:id => "reg"} do |form| %>
	<center><h1><b>Add education detail<b></h1></center>
		<% if @education.errors.any? %>
			<div id="error_explanation">
				<h2>
					<%= pluralize(@education.errors.count,"error") %>prohibited from being saved
				</h2>
				<p>
        		<% @education.errors.full_messages.each do |msg| %>
          		<li><%= msg %></li>
        <% end %>
      </p>
    </div>
  <% end %>
			
	<table align="center">
		<tr>
			<td>*<%= form.label :School %></td>
			<td></td>
			<td><%= form.text_field :school, id: "school",placeholder: "DAVV" %></td>
			<td id="error"></td>
		</tr>
		<tr>
			<td><%= form.label :Concentration %></td>
			<td></td>
			<td><%= form.text_field :concentration, id:"Concentration", placeholder: "Economics"%></td>
	    <td id="error1"></td>
		</tr>
		<tr>
			<td><%= form.label :second_Concentration %></td>
			<td></td>
			<td><%= form.text_field :second_concentration, id:"2concentration",placeholder: "Global policy" %></td>
      <td id="error2"></td>
		</tr>
		<tr>
			<td><%= form.label :Degree_Type %></td>
			<td></td>
			<td><%= form.text_field :degree, id:"degree",placeholder: "B.A." %></td>
      <td id="error3"></td>
		</tr>
		<tr>
		    <td><%= form.label :Graduation_year %></td>
		    <td></td>
		    <td><%= form.select :graduation_year, (2000..Time.now.year).to_a, :include_blank => {:year => "Select year"} %></td>
		</tr>
		<%= form.hidden_field :user_id, :value => current_user.id %>
		
		<tr>
			<td colspan=3><%= form.submit "save"%></td>
		</tr>
		<tr>
			<td colspan="3"><%= link_to 'back', welcomes_index_path %></td>
			
			
		</tr>
	</table>
</div>
<% end %>
