<%= stylesheet_link_tag "design" %>
<%= stylesheet_link_tag "view" %>
<html>
  <body>
    <% @answers.each do |answer| %>
      <table align="center">
        <tr>
        	<td>Answer by <%= answer.author %></td>
        </tr>
        <tr>
        	<td><%= answer.data %></td>
        </tr>
        <tr>
        	<td>post on <%= answer.created_at.day %> <%= answer.created_at.strftime("%B") %> <%= answer.created_at.year %> </td>
        <tr>
        <tr align="left">
        	<td>
            <% if answer.votes.where(:user_id =>current_user.id, status: "downvote").present? %>
              <%= link_to '',downvote_answer_path(:id =>answer.id), class: "fa fa-arrow-down active" %>
            <%else%>
              <%= link_to '',downvote_answer_path(:id =>answer.id), class: "fa fa-arrow-down" %>
            <%end%>
               <%= answer.votes.where(:status => "downvote").count %>
          </td>
        	<td>
            <% if answer.votes.where(:user_id =>current_user.id, status: "upvote").present? %>
              <%= link_to '',upvote_answer_path(:id => answer.id), class: "fa fa-arrow-up active" %>
            <%else%>
              <%= link_to '',upvote_answer_path(:id => answer.id), class: "fa fa-arrow-up" %>
            <%end%>
            <%= answer.votes.where(:status => "upvote").count %>
          </td>
         </tr>
         <tr>
          <td>
            <% if answer.users.where(:id=>current_user).present? %>
              <div id="edits">
                <%=link_to 'edit',edit_answer_path(answer),remote: true, class: "fa fa-pencil" %>
              </div>
            <%end%>
          </td>
          <td></td>
          <td></td>
          <td>
            <% if answer.users.where(:id=>current_user).present? %>
              <%= link_to 'Destroy', answer_path(answer), class: "fa fa-trash",
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
            <%end%>
          </td>
        </tr>
        <br>
      </table> 
    <%end%>
  </body>
</html>
