<h1><%= link_to 'back', questions_path %></h1>

<table align = "center">
<tr>

<% @answers.each do |answer| %>
<p><%= answer.author %></p>
<h2><%= answer.data %></h2>

<p><%= answer.created_at.in_time_zone("CET") %></p>

<p><%= answer.downvote_count %> <%= link_to 'downvote', downvote_answer_path(answer) %></p>
<p><%= answer.upvotes.count %><%= link_to 'upvote',new_upvote_path(:answer_id => answer)%></p>

<% end %>
</tr>
</table>