<%= stylesheet_link_tag "view" %>
<h1 align="center">answer review</h1>
<table align = "center">
  <tr><h1><%= @answer.question.data %></h1></tr><br><br>
  <tr>answer by <%=current_user.name %><tr><br>
  <tr><%= @answer.data %></tr> &nbsp<%= link_to "edit",edit_answer_path(@answer)%><br>
  <tr><%= @answer.created_at.in_time_zone("CET") %></tr><br>
</table>
	<p><%= link_to "back" ,question_path(@answer.question_id) %></p>
	