<%= stylesheet_link_tag "list" %>
<ul>
  <h1>Quora</h1>
  <li><%=link_to 'Home',questions_path, class: "fa fa-home" %></li>
  <li><%=link_to  'add question',new_question_path, class: "fa fa-plus"%></li>
  <li><%=link_to  'add topic',new_topic_path,class: "fa fa-plus-circle" %></li>
  <li><%=link_to 'user', welcomes_index_path,class: "fa fa-user-plus"%>
  <li><%= link_to 'join topic',topics_path,class: "fa fa-check-circle"%></li>
  <li><%= link_to "Sign out", destroy_user_session_path,class: "fa fa-sign-out",:method => :delete %></li>
  <li><% if current_user.avatar.attached? %>
        <image src="<%= (url_for(current_user.avatar))%>" class= "img" alt="<%=current_user.name%>" >
        <%else%>
        <p><%=current_user.name%></p>
        <% end %>
    </li>
</ul>    
<table align = "center">  
<p><b>join topic</b></p>
<% @topics.each do |topic| %>
<tr>
  <td><%= topic.topic_name %></td>
</tr>
<% end %>
<tr><%= link_to 'back', :back %></tr>
</table>