<%= stylesheet_link_tag "list" %>
<ul>
  <h1>Quora</h1>
  <li><%=link_to 'Home',questions_path, class: "fa fa-home" %></li>
  <li><%=link_to  'add question',new_question_path, class: "fa fa-plus"%></li>
  <li><%=link_to  'add topic',new_topic_path,class: "fa fa-plus-circle" %></li>
  <li><%=link_to 'user', welcomes_index_path,class: "fa fa-user-plus"%>
  <li><%= link_to 'join topic',topics_path,class: "fa fa-check-circle"%></li>
  <li><%= link_to "Sign out", destroy_user_session_path,class: "fa fa-sign-out",:method => :delete %></li>
</ul>
    
<table align = "center">
<tr>
<% @topics.each do |topic| %>
<td><%= topic.topic_name %></td>
<td><%= link_to  'edit',edit_topic_path(topic)%></td>
<td><%= link_to 'show',topic_path(topic)%></td>
<td><%= link_to 'Destroy', topic_path(topic),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
<td><%= link_to  '✔',join_topic_url(topic)%><td>
<tr></tr>
<% end %>
</tr>
</table>
