<%= stylesheet_link_tag "model" %>
<%= stylesheet_link_tag "view" %>
<%= stylesheet_link_tag "design" %>
<div class="view">
<p align="left"><%= link_to "back", :back ,class:"fa fa-arrow-circle-left" ,onclick: "history.back()" %></p>
<h1>All topic List</h1>
  <table align = "center">
    <div class="bg-modal">
      <tr>
        <% @topics.each do |topic| %>
          <td><div class="model-content"><%= topic.topic_name %></div></td>
          <td>
            <% if !current_user.admin? %> 
              <% if !topic.users.where(:id =>current_user.id).present? %>
                <%= link_to  '',join_topic_url(topic), class: "fa fa-plus-circle"%>
              <% else %>
                <%= link_to  '',unjoin_topic_url(topic), class: "fa fa-remove"%> 
              <%end%>
            <%end%>
          </td>
      </tr>
      <tr>
        <% if current_user.admin? %>
          <td><%=link_to 'edit', edit_topic_path(topic), class: "fa fa-pencil" %></td>
          <td><%= link_to 'Destroy', topic_path(topic), class: "fa fa-trash",
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr> 
    </div>
  </div>
    <% end %>
  </table>
</div>