<%= javascript_include_tag "jquery_init" %>
<%= javascript_include_tag "topics" %>
<%= stylesheet_link_tag "style" %>
<main class="login-box">
<div >
<%= form_for @topic,:html => {:id => "reg"} do |form| %>
<h1><center><b>Add new Topic</b></center></h1>
<% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@topic.errors.count, "error") %> prohibited
        this topic from being saved:
      </h2>
      <p align="left">
          <% @topic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </p>
    </div>
  <% end %>

<table align="center">
	<tr>
		<td><%= form.label :Topic_Name %></td>
		<td><%= form.text_field :topic_name, id:"name" ,placeholder: "topic_name"%></td>
		<td id="error"></td>
	</tr>
	<tr>
        <td colspan="3"><%= form.submit %></td>
	</tr>
	<tr>
		
		<td><%= link_to 'view list',topics_path, class: "fa fa-eye" %></td>
    <td></td>
		<td><%= link_to "back", :back ,class:"fa fa-arrow-circle-left" ,onclick: "history.back()" %></td>
	</tr>
  <tr></tr>
</table>
<% end %>
</div>
</main>