<%= stylesheet_link_tag "model" %>
<%= stylesheet_link_tag "view" %>
<%= stylesheet_link_tag "design" %>
<strong>topic_name :</strong>
<%= @topic.topic_name %>
<%= link_to 'add more',new_topic_path %>
<%= link_to 'view all',topics_path %>
<%= link_to  'edit',edit_topic_path(@topic)%>
<h3><%= link_to "back", :back ,class:"fa fa-arrow-circle-left" %></h3>