<%= javascript_include_tag "jquery_init.js" %>
<%= stylesheet_link_tag "view" %>
<div class="vertical-right-menu">
  <%if !current_user.admin? %>
    <div id="new-employ">
      <%=link_to_if(current_user.employment.blank?,'Employment',new_employment_path, remote: true, class: "fa fa-briefcase") %>
    </div>
    <% if !current_user.employment.blank? %>
     <%= render 'employments/detail' %>
    <%end%>
  <%end%>
</div>
<br>
<div class="vertical-menu">
  <%= link_to ' Question',view_questions_path, class: "fa fa-eye" %>
  <%= link_to ' Edit info',edit_user_registration_path(current_user.id),class: "fa fa-edit" %>
  <%= link_to ' Topic',topics_path , class: "fa fa-eye" %>
  <%= link_to ' Bookmark Question',bookmarks_user_path(current_user.id), class: "fa fa-star" %>
  <%=link_to ' View users', users_path, class:"fa fa-user" %>
</div>
<div class="vertical-right-menu">
  <%if !current_user.admin? %>
    <div id="new-education">
      <%= link_to_if(current_user.education.blank?,'Education',new_education_path, remote: true, class: "fa fa-graduation-cap" )%>
    </div>
    <% if !current_user.education.blank? %>
      <%= render 'educations/detail' %>
    <%end%>
  <%end%>
</div>
   
  