<%= javascript_include_tag "jquery_init" %>
<%= javascript_include_tag "questions.js" %>
<%= stylesheet_link_tag "design" %>
<%= stylesheet_link_tag "view" %>
<div class="view">
<%= link_to "back", :back ,class: "fa fa-arrow-circle-left" ,onclick: "history.back()"  %>
<h1>Bookmark Question</h1>
<% @bookmarks.each do |question| %>
  <table align = "center">
    <tr>Added topic by.<%= question.topic.topic_name %></tr><br><br>
    <tr><%= question.author_name %></tr><br>
    <tr><h3><a href="<%= question_path(question)%>"><%= question.data %></a></h3></tr>
    <tr><%= question.question_link %></tr><br>
    <tr><%= question.created_at %></tr><br>
      <% if current_user.questions.where(:id=>question).present? || current_user.admin? %>
        <%= link_to 'edit',edit_question_url(question), class: "fa fa-pencil" %>
      <%end%>
    </tr>
    <br>
    <tr>
      <% if current_user.questions.where(:id=>question).present? || current_user.admin? %>
        <%= link_to 'Destroy', question_path(question), class: "fa fa-trash",
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
      <%end%>
    </tr>
  </table>
<% end %>
</div>