<%= stylesheet_link_tag "list" %>
<%= javascript_include_tag "jquery_init" %>
<%= javascript_include_tag "questions.js" %>
<%= stylesheet_link_tag "design" %>
<%= stylesheet_link_tag "view" %>
<ul>
  <h1>Quora</h1>
  <li><%=link_to 'Home',questions_path, class: "fa fa-home" %></li>
  <li><%=link_to  'add question',new_question_path, class: "fa fa-plus"%></li>
  <li><%=link_to  'add topic',new_topic_path,class: "fa fa-plus-circle" %></li>
  <li>
    <% if current_user.admin? %>
      <%=link_to 'Admin', welcomes_index_path, class: "fa fa-user" %>
    <%else%> 
      <%=link_to 'user', welcomes_index_path, class: "fa fa-user-plus"%>
    <%end%>     
  </li>
  <li><%= link_to 'join topic',topics_path,class: "fa fa-check-circle"%></li>
  <li><%= link_to "Sign out", destroy_user_session_path,class: "fa fa-sign-out",:method => :delete %></li>
  <li>
    <% if current_user.avatar.attached? %>
      <image src="<%= (url_for(current_user.avatar))%>" class= "img" alt="<%=current_user.name%>" >
    <%else%>
      <p><%=current_user.name%></p>
    <% end %>
  </li>
</ul>
<div class="view">
<%= link_to "back", :back ,class: "fa fa-arrow-circle-left" ,onclick: "history.back()"  %>
<% @users.each do |user| %>
  <table align="center">
    <tr>
       <td>
        <% if user.avatar.attached? %>
          <image src="<%= (url_for(user.avatar))%>" class= "img" alt="Quora user" >
        <% end %>
      </td>
      <td>Name :<td>
      <td></td>
      <td><%= user.name %></td>
      <td></td>
      <td>
        <% if current_user.admin? %>
          <%= link_to 'Destroy', user_path(user), class: "fa fa-trash",
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
        <%end%>
    </tr>
  </table>
<% end %>
</div>