<%= javascript_include_tag "jquery_init" %>
<%= javascript_include_tag "questions.js" %>
<%= stylesheet_link_tag "design" %>
<%= stylesheet_link_tag "view" %>
<div class="view">
<%= link_to "back", :back ,class: "fa fa-arrow-circle-left" ,onclick: "history.back()"  %>
<% @users.each do |user| %>
  <table align="center">
    <% if !user.admin? %>
      <tr>
         <td>
          <% if user.avatar.attached? %>
            <image src="<%= (url_for(user.avatar))%>" class= "img" alt="Quora user" >
          <% end %>
        </td>
        <td>Name :<td>
        <td></td>
        <td><%= user.name %></td>
        <td></td>
        <td>
          <% if current_user.admin? %>
            <%= link_to 'Destroy', user_path(user), class: "fa fa-trash",
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %>
          <%end%>
        </td>
      </tr>  
    <%end%>
  </table>
<% end %>
</div>